/* font-family: 'Russo One', sans-serif;
font-family: 'Concert One', cursive;
font-family: 'Kalam', cursive;
font-family: 'Pathway Gothic One', sans-serif; */

#NavbarBrand {
  font-family: 'Concert One', cursive;
  font-family: 'Russo One', sans-serif;
  color: white;
  font-size: 25px;
}
#NavbarLinks {
  font-family: 'Concert One', cursive;
}
#LoginCSS {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  height: 100%;
  margin-top: 100px;
  border: solid black 2px;
}

#NavCSS {
  margin: auto;
  position: relative;
  height: 80px;
  border: solid black 1px;
}
#FootCSS {
  background-color: #343a40;
  color: grey;
  height: 70px;
}
#BodyCSS {
  height: 100%;
}
